{{component triggerComponent
  placeholder=placeholder}}
{{debugger}}

{{#adde-dropdown data-test-select-dropdown=true}}
  {{#if searchEnabled}}
  <div class='adde-select-search'>
    {{input type='search' placeholder=searchPlaceholder}}
  </div>
  {{/if}}
  {{adde-select/options options=options}}
{{/adde-dropdown}}