<span>{{options.length}} options</span>
{{debugger}}
{{#vertical-collection
    options
    tagName='ul'
    estimateHeight=20
    staticHeight=true
    as |opt|
}}
  <li class='adde-select-option'>{{opt}}</li>
{{/vertical-collection}}
