{{#vertical-collection
    items=options
    tagName='ul'
    estimateHeight=20
    staticHeight=false
    as |opt|
}}
  <li class='adde-select-option'
    aria-selected={{adde-select-is-selected opt selected}}
    {{action 'onSelect' opt}}>
    {{opt}}
  </li>
{{/vertical-collection}}
